@font-face {
    font-family: 'Heffaklump';
    src: url('fonts/Heffaklump.woff2') format('woff2'),
         url('fonts/Heffaklump.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Heffaklump', sans-serif;
    font-size: 16pt;
}

.center-wrapper {
    text-align: center;
}

.rainbow-border {
    position: relative;
    padding: 16px 24px;
    border-radius: 16px;
    background: LightGray;
    z-index: 0;
    display: inline-block;
    box-sizing: border-box;
}

.rainbow-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    border-radius: 16px;
    background: linear-gradient(
        260deg,
        rgba(255, 0, 0, 0.9),
        rgba(255, 127, 0, 0.9),
        rgba(255, 255, 0, 0.9),
        rgba(0, 255, 0, 0.9),
        rgba(0, 255, 255, 0.9),
        rgba(0, 0, 255, 0.9),
        rgba(75, 0, 130, 0.9),
        rgba(148, 0, 211, 0.9),
        rgba(255, 0, 0, 0.9)
    );
    background-size: 1500% 1500%;
    animation: rainbowFlow 11s linear infinite;
    z-index: -1;
    box-sizing: border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

@keyframes rainbowFlow {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

img {
    width: 80px;
    height: 80px;
}

  table {
    display: none; /* hide all tables initially */
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  table, th, td {
    border: 1px solid #ccc;
  }

  h1 {
    cursor: pointer;
    font-family: sans-serif;
    margin: 20px 0 10px;
  }
